<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col">
    <shared-searchBox
      placeholder="Buscar Por Capital"
      [initalValue]="initalValue"
      (onDebounce)="searchByCapital($event)"
    ></shared-searchBox>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <ul>
      <shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>
      <countries-table [countries]="countries"></countries-table>
    </ul>
  </div>
</div>

<!--  (onValue)="searchByCapital($event)"  -->
